* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family:cursive;
}

.container {
    padding-top: 9%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(128, 109, 121), rgb(98, 58, 80));
    padding-left: 12%;
    padding-right: 10%;

}

.head .one {
    color: white;
    font-size: 55px;



}

.head .two {
    color: rgb(43, 1, 27);
    font-size: 34px;
}

.line {
    margin-top: 10px;
    background-color: rgb(249, 249, 247);
    height: 2px;
    max-width: 350px;

}


.password-cont {
    margin-top: 40px;
    padding: 16px;
    max-width: 350px;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;

}

.password-cont p {
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.password-cont  img {
    position: absolute;
    right:5px;
    width: 18px;
    height: 19px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform ease-in 0.2s;




}


.password-cont img:active {
    transform: translateY(1px);
}

.password-generator{

    padding: 20px 0;
}
.selection{
    display: flex;
    align-items: center;
    gap: 12px;
}
label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    font-weight: 500;
}
select{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    padding: 13px;
    font-size: 12px;
}
select:hover{
    background-color:rgb(43, 1, 27); 
    color: white;
    outline: none;
    border: none;

}
select:focus{
    outline: none;
}


button {
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    padding: 16px 5px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: transform ease-in 0.5s;
    
}

button:hover{
    background-color:rgb(43, 1, 27); 
    color: white;
}

button:active {
    transform: translateY(8px);
}

button span {
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}