* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-top: 12%;

    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(120, 81, 105), rgb(80, 58, 98));
    padding-left: 12%;
    padding-right: 10%;

}

.head .one {
    color: white;
    font-size: 45px;



}

.head .two {
    color: rgb(43, 1, 27);
    font-size: 34px;
}

.line {
    margin-top: 10px;
    background-color: rgb(249, 249, 247);
    height: 2px;
    max-width: 350px;

}

.password-cont {
    margin-top: 40px;
    padding: 16px;
    max-width: 350px;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;

}

.password-cont p {
    font-size: 17px;
}


.password-cont  img {
    position: absolute;
    right: 10px;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    cursor: pointer;



}

.password-cont img:active {
    transform: translateY(1px);
}

button {
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    padding: 16px 5px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

button span {
    font-size: 14px;

}